body {
  font-family: 'Bilbo Swash Caps', cursive;
  font-weight: bold;
}

a {
  color: #fd7f05;
}

::selection {
  background-color: #fd7f05;
  color: #fff
}

.parallax-window {
  min-height: 600px;
  background: transparent;
}

.message-container .message-body-1 {
  text-align: center;
  font-size: 60px;
  color: #fd7f05;
}

.magazine-cover {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.message-container .message-body-2 {
  text-align: center;
  font-size: 40px;
  color: #fd7f05;
}

.message-container .message-body-3 {
  text-align: center;
  font-size: 40px;
  color: #fd7f05;
}

.message-container .message-body-4 {
  text-align: center;
  font-size: 40px;
  color: #fd7f05;
}

.spacer {
  height: 100px;
}
